body{
    font-family:airal;
    background-color:rgb(0, 255, 255);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
   height: 100vh;

}

h2 {
    text-align: center;
    color: #e62323;
}

form {
    background-color: green ;
    border-radius: 8px;
    padding:20px;
    box-shadow: 0px 2px 6px rgba(red,green,blue,alpha);
    width: 300px;
}

label {
    display: block;
    margin-bottom: spx;
    font-weight: bold;
}
input {
    width: 50%;
    color:aliceblue;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
}
button {
    background-color: darkgray;
    color: #e62323;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover{
    background-color: blueviolet;
}



    